fastapi
uvicorn[standard]
playwright
pandas
openpyxl
requests
Pillow
jinja2
boto3   # om du vill ladda upp Excel till S3
python-multipart
pytesseract==0.3.10
opencv-python-headless==4.10.0.84
numpy>=1.26.0
xlsxwriter>=3.1.2   # (om du skriver .xlsx med xlsxwriter)
easyocr==1.7.1
torch>=2.1.0
torchvision>=0.16.0




